.row {
    
    
    &_style_about, &_style_teamwork, &_style_loader, &_style_services, &_style_plans, &_style_blog {
        margin: 0;
    }
    
    &__img-container {
        height: 500px;
        background: url(../../img/product-features/tablet.png);
        background-position: bottom -52px left -52px;
        padding: 0;
        
    }
}