.container {
    position: relative;
    
    &__header{
        margin-bottom: 94px;
    }
    
    &_style_about {
        padding: 0;
        
    }
    
    &__features{
        &_left{
            padding-left: 0;
            padding-right: 20px;
        }
        
        &_right{
            padding-left: 20px;
            padding-right: 0;
        }
        
    }
}