.header{
    padding: 95px 0 0 0;
    
    position: relative;
    text-align: center;
    
    
    
    
    &_bgnd_dark{
        background-color: rgb(8, 8, 12);
    }
    
    &__title {
        margin-bottom: 37px;
    }
    
   
   
}