.title {
    
    font-family: Raleway-Bold;
   
    font-style: normal;
    line-height: normal;
    color: rgb(0, 0, 0);
    font-size: 30px;
    letter-spacing: normal;
    line-height: normal;
    
   
    
    &__span {
        
       
            color:rgb(255, 0, 54);
        
    }
    
    &_color_dark{
        color: rgb(0,0,0);
    }
    
    &_color_light{
        color: rgb(255, 255, 255);
    }
    
    
    &_style_clients-say {
        font-family: Raleway-Medium;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-weight: normal;
        text-align: center;
    }
    
    &_style_blog {
        font-family: Raleway-Medium;
        font-size: 20px; 
        font-weight: 800;
       
    }
    
    &_style_follow {
        margin-bottom: 43px;
    }
    
   
   
    
}