.title {
    
    font-family: Raleway-Bold;
   
    font-style: normal;
    line-height: normal;
    color: rgb(0, 0, 0);
    font-size: 30px;
    letter-spacing: normal;
    line-height: normal;
    
   
    
    &__span {
        
       
            color:rgb(255, 0, 54);
        
    }
    
    &_color_dark{
        color: rgb(0,0,0);
    }
    
    
   
   
    
}