
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.page {
    
    width: 1400px;
    
    
    &__header {
        
    border-top: 3px solid transparent;
    border-bottom: 2px solid transparent;
    background-clip: padding-box;
        
        &::before{
        content: "";
        position: absolute;
        top: 0; right: 0; bottom:0; left: 0;
        background-color: rgb(38, 38, 38);
        margin-top: -3px;
        
        z-index: -1;
        
        }
        
        &::after{
        content: "";
        position: absolute;
        top: 0; right: 0; bottom:0; left: 0;
        background-color: rgb(0, 0, 0);
        
        margin-bottom: -2px;
        z-index: -2;
        
        }
    }
    
    &__section {
        margin-top: 94px;
    }
}


