.carousel {
    height: 632px;
    background-image: url(../img/slideshow/woman-in-red.png);
    background-size: cover;
    background-position: bottom -340px right 0;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    &::after{
        content: "";
        position: absolute;
        top: 0;
         right: 0; bottom: 0; left: 0;
        background-color: rgba(76, 76, 76, 0.5);
    }
}

.carousel-inner {
    width: 1030px;
    z-index: 1;
    margin-bottom: 36px;
}

.carousel-item {
    text-align: center;
    
    h1{
        @include font($Raleway-2...);
        margin-bottom: 40px;
        
        
        span {
            color: rgb(255, 0, 54);
        }   
    }
    
    p {
        @include font($Lato-1...);
        margin-bottom: 47px;
    }
    
    a {        
        display: inline-block;
        
        @include font($Raleway-3...);
        text-decoration: none; 
        
        
        &:first-child{
            background-color: rgb(255, 0, 54);
            margin-right: 25px;
            padding: 12px 34px 14px 36px;
        }
        
        &:last-child{
            background-color: rgb(0, 0, 0);
            padding: 12px 39px 14px 39px;
        }   
    }
}

//styling carousel arrows

.war, .ral {
    transform: rotateZ(180deg);
}

.ral, .rar {
    display: none;
}

.wal, .ral {
    left: 36px;
    position: absolute;
}

.war, .rar {
    right: 30px;
    position: absolute;
}

.carousel-control-prev:active {
    .wal {
        display: none;
    }
    
    .ral {
        display: block;
    }
}

.carousel-control-next:active {
    .war {
        display: none;
    }
    
    .rar {
        display: block;
    }
}

//


 





