*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1400px;
    position: relative;
}

header {
    position: relative;
    background-color: rgb(8, 8, 12);
    border-top: 3px solid transparent;
    background-clip: padding-box;
    
    &::before{
        content: "";
        position: absolute;
        top: 0; right: 0; bottom:0; left: 0;
        background-color: rgb(38, 38, 38);
        margin-top: -3px;
        z-index: -1;
        
    }
    
}

.nav-wrapper {
    position: relative;
    padding-right: 0;
    z-index: 1;
    
    > object {
        position: absolute;
        top: -3px;
        left: -1px;
        
    }
}

.navigation {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 332px;
    
}

.nav-item {
    list-style: none;
    @for $i from 1 through 7 {
        
        &:nth-child(#{$i}){
            margin-right: 34px;
        }    
    }    
}

.nav-link {
    text-decoration: none;
    @include font($Raleway-1...);
    padding: 22px 0;
    display: inline-block;
    position: relative;
    border-bottom: 2px solid transparent;
    background-clip: padding-box;
    background-color: rgb(8, 8, 12);
    
    &::before {
        content: "";
        position: absolute;
        top: 0;  bottom: 0; left:0; right: 0;
        background-color: rgb(255, 0, 54);
        z-index: -1; 
    }
    
    &:hover::before{
        margin-bottom: -2px;
        margin-top: -3px;
    }
}





