@mixin font ($font-family, $font-size, $font-weight, $font-style, $line-height, $letter-spacing, $color){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: $font-style;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}



@mixin btn ($padding-top, $padding-right, $padding-bottom, $padding-left, $backgrnd-color, $backgrnd-active){
    
    padding-top: $padding-top;
    padding-right: $padding-right;
    padding-bottom: $padding-bottom;
    padding-left: $padding-left;
    
    background-color: $backgrnd-color;
    
    &:hover, &:active, &:focus {
        background-color: $backgrnd-active;
    }
}

