.section {
    
    
    &_color_light {
        background-color: rgb(255,255,255);
    }
    
    &_color_dark {
        background-color: rgb(0,0,0);
    }
    
   
    
    &_style_portfolio{
        text-align: center;
    }
    
    &_style_follow {
        background-image: url(../../img/social-media/bg-social.png) rgb(0,0,0);
    }
    
  
    
    
    
    &__header {
        padding-bottom: 94px;
    }
    
    &__footer {
        background: url(../img/plans/plns-bgnd.png);
        background-size: cover;
        height:294px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        >object {
            margin-bottom: 25px;
        }
    }
    
    
    
    
}