.footer {
    background-color: rgb(38,38,38);
    padding: 28px 0 16px 0;
    text-align: center;

    
    &__author{
        
        font-family: MyriadPro-Regular;
        color :rgb(142,142,142);
        display: inline;
        float: right;
        padding-right: 42px;
    }
}